.Card{
    width:90%;
    height: 25px;
    border: 2px black solid;
    display: flex;
    flex-direction: row;

    .Card_image_container{
        width:50%;

        .Card_image{
            width:100%;
            background-position: center;
        }
    }

    .list{
        list-style: none;
    }
}